.counter {
    padding-top: 30px;

    .left-mg {
        margin-left: 10px;
    }
    .active {
        background: #05DB5E;
    }
    .inactive {
        background: #9B59B6;
    }
    .counter-component {
        width: 300px;
        margin: auto;
        padding: 20px;
        color: white;
        text-align: center;

        h1 {
            margin: 0;
            padding: 20px;
            font-size: 36px;
        }

        button {
            width: 120px;
            padding: 20px;
            border: 0;
            border-radius: 3px;
            box-shadow: 0px 5px 0px darken(#F1C40F, 20%);
            outline: none;
            font-weight: bold;
        }
    }
}
